body{
	/*background-color: red;*/
}
/*regla de especificidad*/
.navbar>.container.centered{
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-right: 50px;
}

.sidebar-collapse [class*="navbar-expand-"] .navbar-collapse.show {
    width: 100%;
}

@media (max-width: 380px) {
	/*.navbar>.container.centered{
		justify-content: start;
	}*/
}

@media (max-width: 660px) {
	.navbar .navbar-toggler {
	  padding-right: 40px;
	}
}

@media (max-width: 500px) {
	.navbar .navbar-toggler {
	  padding-right: 20px;
	}
	.navbar>.container.centered{
		justify-content: space-between;
	}
}

@media (min-width: 420px) {
  	body{
		/*background-color: black;*/
	}/*
	.navbar>.container.centered{
		justify-content: space-between;
	}*/
}

@media (min-width: 800px) {
  	body{
		/*background-color: green;*/
	}
	.navbar>.container.centered{
	}
	.carousel{

	}
}

nav ul{
	text-align: center;
}

.border-round:hover{
	border-radius: 30px !important;
}

.footer nav{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}