@media (min-width: 1100px){
    .interested-items-container{
        grid-template-rows: 100%;
        grid-template-columns: repeat(4, 23.5%);
    }

    .also-interested-in-container{
        height: 700px;
    }
}

@media (max-width: 1100px){
    .interested-items-container{
        grid-template-columns: 48% 48%;
        grid-template-rows: 48% 48%;
    }

    .also-interested-in-container{
        height: 1300px;
    }
}

@media (min-width: 800px){
    .also-interested-in-container{
        padding: 0 50px 0 50px;
    }

    .product-description-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    .right-div{
        padding-left: 30px;
    }

    .cards-container{
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: 100%;
        height:350px;
    }
}

@media (max-width: 800px){
    .also-interested-in-container{
        padding: 0;
    }

    .product-description-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .cards-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 32%);
        height: 1050px;
    }
}

@media (max-width: 650px){
    .interested-items-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 24%);
    }

    .also-interested-in-container{
        height: 2600px;
    }

}

@media (min-width:400px){
    .cards-container{
        margin: 50px 50px 50px 50px;
    }
}

@media (max-width: 400px){
    .cards-container{
        margin-left:20px;
        margin-right: 20px;
    }
}

#carouselExampleIndicators{
    max-width: 599px;
}

.product-description-container{
    margin: 180px 50px 50px 50px;
}

.right-div{
    display:flex;
    flex-direction: column;
}

.left-div{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.card-header{
    background-color: transparent;
    width:100%;
    padding:7px 7px;
    border:none;
}

.card-header h5{
    margin:auto;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header ul{
    line-height: 55px;
}

.card-header li p{
    margin: auto;
    font-size: 1.1em;
}

p{
    margin-top:16px;
}

.title{
    padding-top: 0px;
}

.cards-container{
    display:grid;
    gap:3%;
}

.rectangle{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 15px 1px rgb(0 0 0 / 30%);
}

.rectangle h3{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.rectangle p{
    text-align: center;
}

.fa-address-card{
    font-size: 50px;
}

.fa-heart{
    font-size: 50px;
}

.fa-truck{
    font-size: 50px;
}

.also-interested-in-container{
    background-color: rgba(0, 0, 0, 0.8);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.also-interested-in-container h3{
    margin-top:60px;
    color:white;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
}

.interested-items-container{
    width:100%;
    height: 100%;
    display:grid;
    padding: 40px 30px 80px 20px;
    gap: 2%;
}

.item-container{
    background-color: white;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.item-container img{
    max-height: 67%;
}

.titulo-y-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-y-descripcion h4{
    text-align: center;
}


.card-description{
    text-align: center;
    padding: 0 10px 0 10px;
}

.card-footer{
    background-color: transparent;
    margin-top:auto;
}